%scope-reset {

  $color: $base-text-color;
  $font-family: $base-font-family;

  display: block;
  color: $color;
  cursor: default;
  direction: ltr;
  font-family: $font-family;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
}

@mixin component($name) {

  @if & {

    @error 'Component should not have a parent';
  }

  @else {

    $component: '.#{$name}' !global; // See https://github.com/sass/sass/issues/871

    #{$component} {

      @extend %scope-reset;

      @content
    }
  }
}

@mixin child($name) {

  @if & {

    &_#{$name} {

      @content
    }
  }

  @else {

    @error 'Children should have a parent';
  }
}

@mixin modifier($name) {

  @if & {

    &.\--#{$name} {

      @content
    }
  }

  @else {

    @error 'Modifiers should have a parent';
  }
}
