$base-title-color: #222;
$base-text-color: #444;
$base-font-family: Roboto, sans-serif;

// Colors

$red-alizarin: #e74c3c;
$green-shamrock: #7ae760;
$grey-mine: #888888;
$grey-smoke: #eeeeee;
$white-snow: #ffffff;
